@import "../../../../../components/avatar.module.css";
@import "../../../../../components/LanguageButton/languageButton.module.css";

@import "../../../../../page.module.css";

.homeAppBar {
    flex: 0 0 auto;
    width: 100%;
    height: 50%;

    padding: 1rem;

    display: flex;
    flex-direction: column;

    background-color: var(--purple-dark);
    color: white;

    --edge-size: 1.5em;

    clip-path: polygon(
            100% 0%,
            100% calc(100% - var(--edge-size)),
            calc(100% - var(--edge-size)) 100%,
            var(--edge-size) 100%,
            0 calc(100% - var(--edge-size)),
            0 0);
}

.header {
    display: flex;
    justify-content: space-between;
}

.backButton {
    background-color: var(--secondary);
    color: black;
    width: 4rem;
    height: 3rem;

    text-align: center;
    font-size: xx-large;
    font-weight: bold;

    --edge-size: 0.75rem;
}

.headerRightSide {
    display: flex;
    gap: 0.5rem;
}

.greetingsContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.helloQuote {
    overflow-y: auto;
    max-height: 100%;

    text-align: left;
    font-size: 2rem;
    font-weight: 400;
}

.avatarContainer {
    flex-shrink: 0;
}

.navBar {
    margin-top: auto;
    display: grid;
    grid-auto-flow: column;
}

.navBarButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBarButton {
    background-color: var(--primary);
    color: white;
    width: 5rem;
    height: 4rem;
}

.navBarButtonText {
    margin-top: 0.5rem;
    font-size: 0.75rem;
}