@import "../../components/Checkbox/checkbox.module.css";

.tasksPage {
    height: 100%;

    padding: 1rem clamp(1rem, 10vw - 1rem, 6rem);

    overflow: hidden;
}

.createTaskTitle {
    font-size: 1.5rem;
}

.priorityLabel {
    margin-left: 0.5rem;
}

.tagLabel {
    margin-left: 0.5rem;
}

.currentTags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.currentTag {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    background-color: var(--color-4);
    border-radius: 0.25rem;
}

.openCategoryButton {
    padding: 0.5rem;
    background-color: lightblue;
}