.taskListPage {
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: start;

  animation: fade 300ms ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tasksListTitle {
  font-size: 1.5rem;
}

.taskListContainer {
  width: 100%;

  overflow: auto;
}

.layoutContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  align-items: flex-start;
}

.mainTasksColumn {
  display: flex;
  flex-direction: column;
}

.microTasksColumn {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--color-1-light);
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.tasksListTitle {
  margin: 0;
}
