
.taskListPage {
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: start;

    animation: fade 300ms ease;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tasksListTitle {
    font-size: 1.5rem;
}

.taskListContainer {
    width: 100%;

    overflow: auto;
}