
.challengeWrapper {
    height: 100%;
    display: flex;
}

.challengeContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: hidden;
}

.challengeContentScrollWrapper {
    flex-grow: 1;
    width: 100%;
    overflow: auto;
    padding-right: 1rem;
    color: white;

}

.currentDayText {
    font-family: 'Chakra Petch', sans-serif;
    text-transform: uppercase;
}

.challengeTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.challengeTitle {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.challengeDescription {
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    width: 100%;
    margin-bottom: 1%;
}

.buttonsContainer {
    padding-right: 1rem;
    margin-top: 0.5rem;

    min-height: 50px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}

.addNoteButton {
    background-color: var(--secondary-color);
    font-weight: bold;
    font-size: 1rem;
    flex-basis: 40%;
}

.completeChallengeButton {
    height: auto;
    flex-basis: 60%;

    background-color: black;
    color: white;

    font-weight: bold;
    font-size: 1rem;
}

.challengeCompleteTag {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.25rem;
    text-transform: uppercase;
}
