@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .rnd-button {
        @apply h-16 w-40 rounded bg-secondary text-xl font-medium hover:bg-secondary/85
    }

    .cut-button {
        --edge-size: .5em;
        clip-path: polygon(
                var(--edge-size) 0,
                calc(100% - var(--edge-size)) 0,
                100% var(--edge-size),
                100% calc(100% - var(--edge-size)),
                calc(100% - var(--edge-size)) 100%,
                var(--edge-size) 100%,
                0 calc(100% - var(--edge-size)),
                0 var(--edge-size)
        );

        text-transform: uppercase;

        @apply rnd-button
    }
}