
.defaultTheme, .purpleTheme {
    --primary-color: #771480;
    --secondary-color: #7DF4BE;
    --third-color: #491351;
    --fourth-color: #ffe600;
}

.blackTheme {
    --primary-color: #1a1a1a;
    --secondary-color: #9eafdf;
    --third-color: #e47c36;
    --fourth-color: #ffe600;
}

.blueTheme {
    --primary-color: #282881;
    --secondary-color: #e0e0c1;
    --third-color: #1f1f53;
    --fourth-color: #eded03;
}

.randomTheme {
    --primary-color: #628395;
    --secondary-color: #96897B;
    --third-color: #DBAD6A;
    --fourth-color: #ffe600;
}