.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 100%;
  box-sizing: border-box;
}

.title {
  font-family: var(--font-family2);
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--color-3);
  margin-bottom: 0.5rem;
}

.subtitle {
  font-family: var(--font-family1);
  font-size: 1.2rem;
  color: var(--color-2);
  margin-bottom: 3rem;
}

.menuGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: 50%;
  max-width: 400px;
}

.menuButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--color-3);
  text-decoration: none;
  color: var(--text-color-2);
  transition: all 0.2s ease-in-out;
  --edge-size: 0.5rem;
  clip-path: polygon(
    var(--edge-size) 0,
    calc(100% - var(--edge-size)) 0,
    100% var(--edge-size),
    100% calc(100% - var(--edge-size)),
    calc(100% - var(--edge-size)) 100%,
    var(--edge-size) 100%,
    0 calc(100% - var(--edge-size)),
    0 var(--edge-size)
  );

  text-transform: uppercase;
  font-family: "Chakra Petch", sans-serif;
}

.menuButton:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background-color: var(--color-2);
}

.menuIcon {
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
  filter: brightness(0) invert(1);
}

.menuText {
  font-family: var(--font-family2);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
}
