
.roundButton {
    height: 4rem;
    width: 16rem;
    background-color: var(--secondary);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.75rem;
    border-radius: 0.25rem;
}

.cutButton {
    --edge-size: .5rem;
    clip-path: polygon(
            var(--edge-size) 0,
            calc(100% - var(--edge-size)) 0,
            100% var(--edge-size),
            100% calc(100% - var(--edge-size)),
            calc(100% - var(--edge-size)) 100%,
            var(--edge-size) 100%,
            0 calc(100% - var(--edge-size)),
            0 var(--edge-size)
    );

    text-transform: uppercase;
    font-family: 'Chakra Petch', sans-serif;
}

/*
Something like this could be very interesting for animating.

.roundButton {
    position: relative;
    top: 0;
    transition: all ease 0.3s;
}
.roundButton:active {
    top: 3px;
}*/

@media (hover: hover) {
    .roundButton:hover {
        background-color: var(--secondary-85);
    }
}