.statsContainer {
    margin: 0 1rem;
    @media (min-width: 600px) {
        margin: 0 5rem;
    }

    padding: 1rem;

    box-sizing: border-box; 
    border: 3px solid;

    border-color: var(--secondary-color);

    border-radius: 10px;
}

.statsContainerTitle {
    display: inline-block;
    padding: 0.5rem 2rem;

    position: relative;
    top: -25px;
    left: -17px;
    background-color: var(--secondary-color);
    text-align: center;

    font-weight: bolder;
    color: white;
    font-size: large;

    --edge-size: .5rem;
    clip-path: polygon(
            var(--edge-size) 0,
            calc(100% - var(--edge-size)) 0,
            100% var(--edge-size),
            100% calc(100% - var(--edge-size)),
            calc(100% - var(--edge-size)) 100%,
            var(--edge-size) 100%,
            0 calc(100% - var(--edge-size)),
            0 var(--edge-size)
    );

    text-transform: uppercase;
    font-family: 'Chakra Petch', sans-serif;
}

.todayEnergyStatusTitle {
    margin-left: 1%;
    font-weight: bolder;
}

.verWellColor {
    color: green;
}

.wellColor {
    color: yellowgreen;
}

.goodColor {
    color: yellow;
}

.badColor {
    color: red;
}

.todayDate {
    text-align: end;
    margin-right: 2%;
    color: var(--secondary-color);
    position: relative;
    top: -10px;
    left: -3px;
}

.historyFirstContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.historyTitle {
    font-size: x-large;
    font-weight: bolder;
}

.seeFullHistoryText {
    color: var(--secondary-color);
    background-color: transparent;
}

.historyStatusAndDate {
    display: flex;
    justify-content: space-evenly;
}

.focusContainerCurWeekStatisticTitle {
    color: var(--secondary-color);
    font-weight: bolder;
    font-size: x-large;
}

.focusContainerCurWeekStatisticValue {
    font-size: larger;
}