@import "../Button/button.module.css";

.appBarContainer {
    position: relative;
    width: 100%;
    height: 1000vh;
    max-height: 100px;

    z-index: 50;

    transition: max-height 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
}

.appBar {
    width: 100%;

    padding: 1rem;

    height: 1000vh;
    max-height: 60px;

    transition: max-height 300ms cubic-bezier(0.22, 0.61, 0.36, 1),
    background-color 300ms cubic-bezier(0.22, 0.61, 0.36, 1);

    display: grid;
    grid-template-columns: auto auto 1fr auto;
    gap: 0.5rem;

    background-color: var(--color-3);
    color: white;

    --edge-size: 1.5em;

    clip-path: polygon(
            100% 0%,
            100% calc(100% - var(--edge-size)),
            calc(100% - var(--edge-size)) 100%,
            0 100%,
            0 calc(100% - var(--edge-size)),
            0 0);

    /*box-shadow: 8px 3px 8px rgba(0, 0, 0);*/
}

.sideBar {
    padding: 0.3rem 0 0.3rem 0.8rem;

    --original-side-bar-bottom: 5px;
    --original-side-bar-height: 45px;
    --side-bar-width: 60px;
    --side-bar-height: var(--original-side-bar-height);
    --side-bar-bottom: calc(var(--original-side-bar-height) - var(--side-bar-height) + var(--original-side-bar-bottom));

    position: absolute;
    bottom: var(--side-bar-bottom);
    width: var(--side-bar-width);
    height: var(--side-bar-height);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: var(--color-3);
    color: var(--text-color-2);

    transition: width 300ms cubic-bezier(0.22, 0.61, 0.36, 1),
    height 300ms cubic-bezier(0.22, 0.61, 0.36, 1),
    bottom 300ms cubic-bezier(0.22, 0.61, 0.36, 1);

    --edge-size: 1em;

    clip-path: polygon(
            100% 0%,
            100% calc(100% - var(--edge-size)),
            calc(100% - var(--edge-size)) 100%,
            var(--edge-size) 100%,
            0 calc(100% - var(--edge-size)),
            0 0);
}

.sideBar[data-expanded="true"] {
    --side-bar-height: 280px;
    --side-bar-width: 200px;
}

.sideBarIconContainer {
    padding-left: 0.3rem;

    font-size: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.sideBarIconButton {
    background-color: transparent;
    color: var(--text-color-2);
}

.sideBarIcon {
    width: 1.5rem;
    height: 1.5rem;
}

.sideBarContentContainer {
    padding-right: 0.8rem;
    width: 100%;
    height: 100%;

    /*overflow: auto;*/
    overflow: hidden;
}

.sideBarContentContainer[aria-hidden="true"] {
    display: none;
}

.sideBarContent {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sideBarNavButtonContainer {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.sideBarNavButton {
    height: 3rem;

    padding: 0.5rem;

    text-decoration: none;

    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;

    border-radius: 10px;
}

.sideBarButtonIconContainer {
    width: 4rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideBarNavButtonIcon {
    height: 100%;
}

.sideBarNavButtonText {
    font-size: 1rem;
    font-weight: 500;
}

.backButton {
    grid-column: 1;
    grid-row: 1;

    width: 3rem;
    height: 2rem;

    background-color: var(--color-2);
    color: var(--text-color-2);

    text-align: center;
    font-size: x-large;
    font-weight: bold;
    font-family: var(--font-family2), sans-serif;
    text-transform: uppercase;

    border-radius: 10px;
}

.homeButtonContainer {
    grid-column: 2;
    grid-row: 1;

    margin-left: 0.5rem;

    display: flex;
    justify-content: center;
}

.homeButton {
    width: 3rem;
    height: 2rem;

    background-color: var(--color-2);
    color: var(--text-color-2);

    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: var(--font-family2), sans-serif;
    text-transform: uppercase;

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100%;
    }
}

.settingsButtons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.5rem;
}

.settingsButtons {
    grid-column: 4;
    grid-row: 1;
}

.settingsButtons > * {
    flex-shrink: 0;
}