
.sliderContainer {
    position: relative;

    width: 100%;
    height: 100%;

    /*overflow: hidden;*/
}

.welcomePage {
    position: absolute;

    padding: 0 2rem 0 2rem;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    transition: transform 0.5s ease-in-out;
}

.welcomePage.first {
    transform: translateX(-100%);
}

.welcomePage.first.active {
    transform: translateX(0);
}

.welcomePage.second {
    transform: translateX(100%);
}

.welcomePage.second.active {
    transform: translateX(0);
}

.welcomePage h2, .welcomePage h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-2);
}

.welcomePage h2 {
    font-size: 1.5rem;
}

.welcomePage h3 {
    font-size: 1.25rem;
    color: white;
}

.welcomePage p {

}

/*.infoPageTextContent {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
    }

    height: 100%;
}*/

.studyImageContainer {
    flex: 2 0 30%;

    overflow: hidden;
}

.studyImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.titleHeading {
    font-size: 1.75rem;
    font-weight: bold;
    font-family: var(--font-family2), sans-serif;

    color: var(--color-2);
}

.descriptionText {
    flex-grow: 1;

    margin-top: 0.5rem;

    font-size: 1rem;
    font-weight: 300;

    color: white;
}

.navigationContainer {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.proceedButton {
    composes: cutButton from '@/components/Button/button.module.css';

    --cut-button-background-color: var(--color-4);
    --cut-button-background-color-hover: var(--color-4-hover);

    flex-basis: 50%;
    flex-grow: 1;

    margin-bottom: 1rem;
    margin-top: 1rem;
    height: 3rem;

    font-size: 1.25rem;
    font-weight: 700;
}