@import "../Button/button.module.css";

.languageButton {
    --width: 2.5rem;

    width: var(--width);
    height: calc(var(--width) / 1.5);

    color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;

    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--secondary-text-color);
}

.languageButton.pt-PT {
    background-image: url('../minimalist-ptPT.png');
}

.languageButton.en-GB {
    background-image: url('../minimalist-enGB.png');
}
