@import "../Button/button.module.css";

.languageButton {
    --width: 2.5rem;

    width: var(--width);
    height: calc(var(--width) / 1.5);

    color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;

    border-radius: 5px;
    outline: var(--primary-text-color) solid 1px;
}

.languageButton.clean {
    outline-color: var(--secondary-text-color);
}

.languageButton:focus-visible {
    outline: revert;
}

.languageButton.pt-PT {
    background-image: url('../minimalist-ptPT.png');
}

.languageButton.en-GB {
    background-image: url('../minimalist-enGB.png');
}

.languageButton.selected {
    outline-color: var(--secondary-text-color);

    &.clean {
        outline-color: var(--primary-text-color);
    }
}