
.settingsButton {
    background-color: transparent;
    color: unset;
    border: none;
}

.settingsButtonIcon {
    margin-top: -3px;
    width: 32px;
    height: 32px;
}

.settingsButtonIcon.clean {
    stroke: var(--primary-text-color);
    stroke-width: 1px;
    stroke-linejoin: round;
}