.checkBox {
  width: 2.5rem;
  height: 2.5rem;

  background-color: transparent;

  border-radius: 5px;
  border: 4px solid var(--color-2);

  position: relative;
}

.checkBox::after {
  pointer-events: none;

  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 150%;
  height: 150%;

  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  background-image: url("/tracker-checkmark.png");

  clip-path: inset(0 100% 0 0);
  transition: clip-path 0.5s ease;
}

.checkBox.checked::after {
    /* Reveal from left to right */
    clip-path: inset(0 0 0 0);
}
