@import "../../avatar.module.css";
@import "../../LanguageButton/languageButton.module.css";

@import "../../../page.module.css";
@import "../appBar.module.css";

.appBar {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto auto;
    align-items: flex-start;

    max-height: 252px;
}

.settingsButtons {
    grid-column: 3;
    grid-row: 1;
}

.greetingsContainer {
    grid-column: 1 / -1;
    grid-row: 2;

    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    animation: fade 500ms;

    /*overflow: hidden;*/
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.helloQuote {
    max-height: 100%;

    overflow: auto;

    text-align: left;
    font-size: 1.5rem;
    font-weight: 400;

    /*TODO Perhaps change in web version to right of the avatar*/
}

.avatarAndDropdownContainer {
    flex-grow: 0;
    flex-shrink: 0;

    width: 100px;
    height: 100px;
}

.avatarContainer {
    background-color: var(--color-1);
    width: 100%;
    height: 100%;

    img {
        height: 100%;
        width: 100%;
    }

    overflow: hidden;
}

.navBar {
    grid-column: 1 / -1;
    grid-row: 3;

    margin-top: 0.5rem;

    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: 1rem;
}

.navBarButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBarButton {
    composes: cutButton from "@/components/Button/button.module.css";

    --cut-button-background-color: var(--color-1);
    --cut-button-background-color-hover: var(--color-1-hover);

    color: white;
    width: 4rem;
    height: 3rem;

    padding: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100%;
    }
}

.navBarButtonText {
    margin-top: 0.5rem;
    font-size: 0.75rem;
}


@media (min-width: 512px) {
    .appBar {
        grid-template-rows: auto auto;
        justify-content: space-between;

        max-height: 222px;
    }

    .greetingsContainer {
        grid-column: 2;
        grid-row: 1;

        margin-top: 0.5rem;
        margin-left: 2rem;
    }

    .navBar {
        grid-row: 2;
    }
}

@media (min-width: 768px) {
    .appBar {
        grid-template-columns: auto 1fr 1fr auto;
        grid-template-rows: auto;

        max-height: 140px;
    }

    .greetingsContainer {
        justify-content: start;
    }

    .navBar {
        grid-column: 3;
        grid-row: 1;
    }

    .settingsButtons {
        grid-column: 4;
    }
}