
.calendarPage {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.mainContent {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    overflow: auto;
}

.challengesContainerWrapper {
    --edge-size: 1.5em;

    width: 100%;
    flex-grow: 1;

    padding: calc(var(--edge-size) + 0.5rem) var(--edge-size) 0.5rem;

    overflow: auto;

    background-color: var(--color-4);

    clip-path: polygon(
            100% 0%,
            100% calc(100% - var(--edge-size)),
            calc(100% - var(--edge-size)) 100%,
            var(--edge-size) 100%,
            0 calc(100% - var(--edge-size)),
            0 0,
            var(--edge-size) var(--edge-size),
            calc(100% - var(--edge-size)) var(--edge-size)
    );

    container-type: size;
}

.challengesContainer {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;

    overflow: auto;
}

.challengeTextContainer {
    width: 100%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.challengeTitleContainer {
    margin-bottom: 0.25rem;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.challengeTitle {
    flex-shrink: 0;

    margin-bottom: 0.25rem;
    margin-right: 0.5rem;

    font-size: 1.25rem;
    font-weight: bold;

    color: black;
    font-family: var(--font-family2), sans-serif;
    text-transform: uppercase;
}

.challengeCompleteTag {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.25rem;
    text-transform: uppercase;
    text-wrap: nowrap;
}

.challengeDescriptionContainer {
    width: 100%;
    flex-grow: 1;

    overflow: hidden;
}

.challengeDescription {
    width: 100%;
    /*height: 100%;*/

    font-size: 1rem;
    color: black;

    /*overflow: auto;*/

    display: -webkit-box; /* Required for multiline ellipsis */
    /*-webkit-line-clamp: 4;*/ /* Number of lines to show before truncating */
    -webkit-box-orient: vertical; /* Required for multiline ellipsis */
    overflow: hidden; /* Hides overflow content */
    text-overflow: ellipsis; /* Adds ellipsis */
    line-height: 1.2;
}

.seeMoreButton {
    composes: cutButton from '@/components/Button/button.module.css';

    --cut-button-background-color: black;
    --cut-button-background-color-hover: rgb(20, 20, 20);

    width: calc(100% - 1px);

    font-size: 1rem;
    font-weight: bold;

    background-color: black;
    color: white;
}

.noChallengesTextContainer {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.noChallengesText {
    font-size: 1em;
    font-weight: bold;

    color: black;
}

.loadingTextContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

@media (min-width: 568px) {
    .mainContent {
        flex-direction: row;
    }
}

@container (height < 55px) {
    .challengesContainer {
        flex-direction: row;
        overflow: hidden;
    }

    .challengeTextContainer {
        flex-basis: 200%;
    }

    .seeMoreButton {
        height: 100%;
        flex-grow: 0;
        font-size: 0.75rem;
        overflow: hidden;
    }
}