/*
Doesn't work, use SCSS
:root {
    --2colbreakpoint: 560px;
    --3colbreakpoint: 1024px;
}*/

.challengesPage {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.mainContent {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    overflow: auto;
}

.challengesListContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;

    overflow: auto;
}