@import "../login.module.css";

.selectLevelPageContainer {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.selectLevelPageInnerContainer {
    margin: 2rem;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleContainer {
    margin-bottom: 5%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.titleHeading {
    font-size: 1.25rem;
    color: white;
    font-weight: 300;
}

.levelListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.levelContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.levelImageContainer {
    max-width: 10rem;
    max-height: 10rem;
    min-width: 10rem;
    min-height: 10rem;
}

.levelContentContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
}

.levelButton {
    height: 3rem;
    width: 100%;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: var(--secondary);
}

.levelButton.selected {
    background-color: var(--yellow);
}

.levelContentTextContainer {
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 200;
    color: white;
    margin-top: 0.375rem;
    text-align: center;
}

.levelContentTextContainer p {
    width: 100%;
}

.confirmButtonContainer {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.confirmLevelButton {
    width: 16rem;
}

@media (hover: hover) {
    .levelButton.selected:hover {
        background-color: var(--yellow-85);
    }
    .levelButton:hover {
        background-color: var(--secondary-85);
    }
}

@media (min-width: 768px) {
    .confirmButtonContainer {
        justify-content: flex-end;
    }

    .levelListContainer {
        flex-direction: row;
        justify-content: space-between;
    }

    .levelContainer {
        width: 30%;
        flex-direction: column;
    }

    .levelImageContainer {
        max-width: 18rem;
        max-height: 18rem;
    }

    .levelButton {
        height: 4rem;
        font-size: 1.5rem;
    }

    .levelContentTextContainer {
        font-size: 1.25rem;
    }
}