
.calendarPageContainer {
    height: 100%;

    display: flex;
    flex-direction: column;

    animation: fade 300ms ease;
}

.calendarContainer {
    height: 100%;

    overflow: auto;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}