@import "react-big-calendar/lib/sass/styles.scss";

[class*="rbc-"] {
  font-family: var(--font-family1);
  border-width: 0px;
}
.rbc-toolbar button {
}

.rbc-current-time-indicator {
  height: 2px;
}
.rbc-time-view .rbc-row {
  min-height: unset;
}

.rbc-allday-cell .rbc-row-content {
  padding-bottom: 20px;
}

.rbc-agenda-view
  .rbc-agenda-table
  tbody
  tr:nth-child(odd)
  td:not(.rbc-agenda-date-cell) {
  background-color: #d4cd9b;
}
.rbc-agenda-view
  .rbc-agenda-table
  tbody
  tr:nth-child(even)
  td:not(.rbc-agenda-date-cell) {
  background-color: var(--color-1);
}

.rbc-agenda-view .rbc-agenda-date-cell {
  background: #d4cd9b;
  font-weight: 600;
  vertical-align: top;
  padding: 14px 12px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.rbc-agenda-view .rbc-agenda-date-cell,
.rbc-agenda-view .rbc-agenda-date-cell ~ td {
  border-top: 1px solid var(--color-2);
}
.rbc-agenda-view .rbc-agenda-table > tbody > tr:first-child > td {
  border-top: none;
}

.rbc-agenda-view .rbc-agenda-time-cell,
.rbc-agenda-view .rbc-agenda-event-cell {
  padding: 12px 14px;
  font-size: 0.95rem;
}

.rbc-agenda-event-cell .rbc-event {
  display: flex;
  align-items: center;
  gap: 6px;
}
.rbc-agenda-event-cell .rbc-event:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background: currentColor;
}

/* Linha da hora (Castanho mais escuro) */
.rbc-time-content .rbc-timeslot-group {
  border-top: 1px solid rgb(135, 91, 82, 0.5) !important;
}

/* Linha da meia hora (Castanho mais claro) */
.rbc-time-content .rbc-timeslot-group .rbc-time-slot:nth-child(2) {
  border-top: 1px solid rgba(112, 63, 58, 0.1) !important;
}

.rbc-time-content .rbc-timeslot-group:first-child {
  border-top: none !important;
}
