.calendarPageContainer {
  height: 100%;

  display: flex;
  flex-direction: column;

  animation: fade 300ms ease;
}

.calendarContainer {
  height: 100%;

  overflow: auto;
  height: 100%;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.calendarHeaderActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  background-color: var(--color-3);
  border-bottom: 1px solid var(--color-2, #7df4be);
}

.button {
  padding: 0.5rem 0.7rem;
  border: 1px solid transparent;
  border-radius: 5px;
  font-family: var(--font-family2);
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.toggleButton {
  composes: button;
  background-color: var(--color-2);
  color: var(--color-1);
  border-color: var(--color-1);
}

.toggleButton:hover {
  background-color: var(--color-2-hover);
  color: var(--text-color-2);
}
